.App {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .posts {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
  
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .posts:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
  }
  .posts .postTitle {
    flex: 20%;
    border-bottom: 1px solid lightgray;
    background-color: burlywood;
    display: grid;
    place-content: center;
    color: white;
  }
  
  .posts .postText {
    flex: 60%;
    display: grid;
    place-content: center;
  }
  
  .posts .postUsername {
    flex: 20%;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: lightgrey;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

 /* CREATE POST PAGE CSS */

.createApostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid burlywood;
  border-radius: 5px;
}

.containerForm #createPostInput {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.containerForm button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightgrey;
  border-radius: 5px;
  color: white;
}

.containerForm button:hover {
  cursor: pointer;
  background-color: lightgrey;
}

span {
  color: red;
}

/* Navigation Bar */

.navbar {
  width: 100%;
  height: 70px;
  background-color:burlywood;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

/* INDIVIDUAL POST */
.postPageID {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSidePost {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSidePost {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;

  display: flex;
  flex-direction: column;
}

#individualPost {
  height: 500px;
  width: 600px;
}

#individualPost .postTitle,
#individualPost .postUsername {
  font-size: 30px;
}

#individualPost .postText {
  font-size: 25px;
}


/* Comment Section */

.rightSidePost .addedComment {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addedComment input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addedComment button {
  background-color: burlywood;
  color: white;
}

.addedComment input {
  border: 2px solid burlywood;
}

.rightSidePost .commentList {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentList .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .postTitle,
#individual .postUsername {
  font-size: 30px;
}

#individual .postText {
  font-size: 25px;
}